Source: containerd.io
Section: devel
Priority: optional
Maintainer: Containerd team <help@containerd.io>
# btrfs dependencies no longer needed for containerd 1.7 and up, which now
# uses the Linux kernel headers for this.
# TODO(thaJeztah): remove btrfs build-dependencies once containerd 1.6 reaches EOL.
Build-Depends: libbtrfs-dev | btrfs-tools ,
               debhelper (>= 10~) | dh-systemd,
               pkg-config,
               libseccomp-dev
Standards-Version: 4.1.4
Homepage: https://containerd.io
Vcs-Browser: https://github.com/containerd/containerd
XS-Go-Import-Path: github.com/containerd/containerd

Package: containerd.io
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: containerd, runc
Conflicts: containerd, runc
Replaces: containerd, runc
Description: An open and reliable container runtime
