#!/usr/bin/make -f

INSTALL_DIR=debian/containerd.io
CONTAINERD_BINARIES=bin/containerd bin/containerd-shim bin/ctr

%:
	dh $@ --with systemd

# GO_SRC_PATH are defined in the dockerfile
# VERSION and REF are defined in scripts/build-deb
bin/%: ## Create containerd binaries
	@echo "+ make -C $(GO_SRC_PATH) --no-print-directory VERSION=$${VERSION} REVISION=$${REF} $@"
	@make -C $(GO_SRC_PATH) --no-print-directory VERSION=$${VERSION} REVISION=$${REF} $@

override_dh_auto_build: $(CONTAINERD_BINARIES)

override_dh_auto_install: $(CONTAINERD_BINARIES)
	# set -x so we can see what's being installed where
	for binary in $(CONTAINERD_BINARIES); do \
		dest=$$(basename $$binary); \
		(set -x; install -D -m 0755 $(GO_SRC_PATH)/$$binary $(INSTALL_DIR)/usr/bin/$$dest); \
	done
	install -D -m 0644 /root/common/containerd.service $(INSTALL_DIR)/lib/systemd/system/containerd.service
	install -D -m 0644 /root/common/containerd.toml $(INSTALL_DIR)/etc/containerd/config.toml
